@import url(font-awesome.min.css);
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /*background-color: black;
  color: gray;*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


.container .text-muted {
  margin: 20px 0;
}
.jumbotron{
  color: #333300;
  background-color: #E9F5FF;
}
code{
  color: black;
  font-weight: bold;
}